<%- include("partials/header.ejs") %>
    <header class="w-border">
        <nav class="menu-container flex space-between align-center">
            <a href=""><img src="./images/nav-icon.png" alt="BlogIT Logo" height="30"></a>
            <div class="nav-icon md-block"><a href="#"><span class="material-symbols-outlined h4 txt-brand">menu</span></a></div>
            <div class="nav-items">
                <ul class="flex list-style-none gap-lg">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Our Blog</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
   
    <div class="m-menu-container flex column">
        <div class="m-header flex space-between align-center">
            <h1 class="title"></h1>
            <span class="material-symbols-outlined nav-icon">close</span>
        </div>
        <div class="m-body">
            <ul class="flex column list-style-none gap-md">
                <li><a href="#">Home</a></li>
                <li><a href="#">Our Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="m-footer flex space-between align-center">
            <h6 class="title">&copy; Copyright BlogIT 2023. All rights reserved.</h6>
        </div>
    </div>

    <main>
        <div class="w-border sidebar-right">
            <div id="blog-container" class="py-2">
                <div id="blog-header" class="flex space-between align-center pb-1 mb-1">
                    <h2>Our blog</h2>
                    <div id="filter">
                        <p class="inline">Filter: </p>
                        <select name="filter" id="filter-input" class="inline">
                            <option value="">Categories</option>
                            <option>Travel</option>
                            <option>Technology</option>
                            <option>Food and cooking</option>
                            <option>Personal Development</option>
                            <option>Parenting</option>
                            <option>Finance</option>
                            <option>Lifestyle</option>
                        </select>
                    </div>
                </div>
                <div id="blog-list" class="pt-2">
                    <% blogs.map((blog, index) => { %>
                        
                    
                    <div class="blog-item">
                        <div class="blog-item-image" style="background-image: url('./images/blogs/1.png');"></div>
                        <div class="blog-item-content">
                            <% var trimTitle = blog.title.substring(0, 30) %>
                            <h3 class="blog-item-title"><%=  trimTitle + " ..." %></h3>
                            <p class="blog-item-excerpt">
                                <%  var trimContent = blog.content.substring(0, 150); %>
                                <%=  trimContent + " ..." %>
                            </p>
                            <a href="/blogs/view/<%= index %>" class="btn btn-success">Read More</a>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
            <div id="sidebar" class="py-2">
                <a href="/blogs/create-post" class="btn btn-info mb-1 w-12">Create new post <span class="material-symbols-outlined">edit_note</span></a>
                <div id="categories" class="pt-1 pb-1">
                    <h4>Categories</h4>
                    <ul>
                        <li class="list-item"><a href="#">Travel</a></li>
                        <li class="list-item"><a href="#">Lifestyle</a></li>
                        <li class="list-item"><a href="#">Food and Clothing</a></li>
                        <li class="list-item"><a href="#">Technology</a></li>
                        <li class="list-item"><a href="#">Personal Development</a></li>
                        <li class="list-item"><a href="#">Parenting</a></li>
                        <li class="list-item"><a href="#">Finance</a></li>
                    </ul>
                </div>

                <div id="viewed" class="pt-1">
                    <h4>Recently viewed</h4>
                    <ul>
                        <li class="list-item"><a href="#">Blog title</a></li>
                        <li class="list-item"><a href="#">Blog title</a></li>
                        <li class="list-item"><a href="#">Blog title</a></li>
                        <li class="list-item"><a href="#">Blog title</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
<%- include("./partials/footer.ejs") %>